
.home-container {
    height: 100vh;

    .wrapper {
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; //horizontental
        background-image:  url("../../../public/images/sample_hotel2.jpg");

        .itemText {
            padding-top: 15vh;
            text-align: center;
        }

        .buttonGroup {
            display: flex;
            margin-bottom: 30px;
            @media (max-width: 768px) {
                flex-direction: column;
            }

            .button {
                background-color: rgba(23, 26, 32, 0.8);
                height: 40px;
                width: 256px;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100px;
                opacity: 0.85;
                text-transform: uppercase;
                font-size: 12px;
                cursor: pointer;
                margin: 8px;
            }
            .rightButton {
                background: white;
                opacity: 0.65;
                color: black;
            }
        }
    }
}