
.header-container {
    min-height: 60px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    // background-color: grey;

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        a {
            font-weight: 600;
            text-transform: uppercase;
            padding: 10px 14px;
            flex-wrap: nowrap;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    .rightMenu{
        display: flex;
        align-items: center;
        a {
            font-weight: 600;
            text-transform: uppercase;
            margin-right: 15px;
            padding: 10px 14px;
        }
    }

    .burgerNav {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 300px;
        background-color: white;
        z-index: 1000;
        list-style: none;
        display: flex;
        flex-direction: column;
        text-align: start;
        padding: 20px;
        // transform: ${(props) => (props.show ? "translateX(0)" : "translateX(100%)")};
        transition: transform 0.2s ease-in;
        li {
            padding: 15px 0;
            a {
            font-weight: semi-bold;
            }
        }

        &+.transform0 {
            transform: translateX(0);
        }
        &+.transform100 {
            transform: translateX(100%);
        }
    }

    .closeWrapper {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }
}